.button-tag {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: rem(8) rem(16);
    border: $border_width_2x solid $black;
    outline: none;
    background-color: transparent;
    color: $black;
    font-size: rem(16);
    line-height: 1.25;
    font-weight: 500;
    position: relative;
    transition: color $trans_sm;

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        background-color: $black;
        transition: height $trans_sm;
        z-index: -1;
    }

    &:hover {
        @include screen_1200_min_width {
            color: $white;

            &:before {
                height: 100%;
            }
        }
    }

    &_active {
        color: $white;
        cursor: default;

        &:before {
            height: 100%;
        }
    }
}
