.button-close {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border: $border_width_2x solid $black;
    outline: none;
    background-color: transparent;
    font-size: 0;
    width: rem(44);
    height: rem(44);
    position: relative;

    &:before {

        @include screen_1200_min_width {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 0;
            background-color: $black;
            transition: height $trans_sm;
        }
    }

    &:hover {

        @include screen_1200_min_width {

            &:before {
                height: 100%;
            }

            .button-close__symbol {

                &:before,
                &:after {
                    background-color: $white;
                }
            }
        }
    }

    &__symbol {
        display: block;
        width: rem(22);
        height: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -2px 0 0 rem(-11);

        &:before,
        &:after {
            content: " ";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $black;

            @include screen_1200_min_width {
                transition: background-color $trans_sm;
            }
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}