.cart {
    padding-bottom: rem(16);
    text-align: center;

    &__section-top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__section-top,
    &__cart-list {
        text-align: left;
    }

    &__button {
        margin-top: rem(16);
    }
}
