.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include screen_600_min_width {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-right: -2px;
    }

    @include screen_1200_min_width {
        grid-template-columns: repeat(4, 25%);
    }
}
