.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding: rem(16);
    background-color: $white;
    border-top: $border_width_2x solid $black;
    border-bottom: $border_width_2x solid $black;
    position: relative;
}
