.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: rem(84);
    margin-top: rem(-84);
    padding: rem(16);
    background-color: $white;
    border: $border_width_2x solid $black;
    position: relative;

    @include screen_1200_min_width {
        height: rem(96);
        margin-top: rem(-96);
    }
}