.select-block {
    display: inline-block;
    vertical-align: top;
    font-size: 0;

    &__text {
        font-size: rem(26);
        line-height: 1.25;
        font-weight: 800;
        margin: 0 rem(16) 0 0;

        @include screen_1200_min_width {
            margin: 0 0 rem(16) 0;
        }
    }

    &__hidden {
        display: none;
    }

    &__text,
    &__select {
        display: inline-block;
        vertical-align: top;

        @include screen_1200_min_width {
            display: block;
            vertical-align: baseline;
        }
    }

    &__select {
        font-size: rem(16);
    }
}
