// Vars:

// Fonts:

$font_normal: 'Manrope', Arial, Helvetica, sans-serif;
$font_bold: 'Manrope', Arial, Helvetica, sans-serif;

// Colors:

$black: black;
$white: white;
$blue: #000066;
$decorative: darkslateblue;

$border_width_1x: 1px;
$border_width_2x: 2px;

// Colors transparent:

$black_transparent: rgba(0, 0, 0, .95);

// Colors gradients:

$color_gradient_1x: #000066;
$color_gradient_2x: white;

// Background colors:

$bg_color_1x: rgba(255, 255, 255, .25);

// Blur:

$blur: blur(4px);

// Box shadows:

$box_shadow_1x: 0 rem(8) rem(32) 0 rgba(31, 38, 135, 0.37);
$box_shadow_2x: 0 rem(-8) rem(32) 0 rgba(31, 38, 135, 0.37);
$box_shadow_3x: 0 0 rem(32) 0 rgba(31, 38, 135, 0.37);

$box_shadow_1x_hover: 0 0 rem(32) rem(-16) rgba(31, 38, 135, 0.37);

// Drop shadows:

$drop_shadow_1x: drop-shadow(0 rem(16) rem(8) rgba(31, 38, 135, 1));
$drop_shadow_2x: drop-shadow(0 rem(-16) rem(8) rgba(31, 38, 135, 1));

// Transitions:

$trans_sm: .1s linear;
$trans_md: .25s linear;
$trans_lg: .5s linear;
$trans_none: 0s linear;

// Temp:

.root-svg-symbols-element {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
