// Vars:

// Fonts:

$font_normal: 'Manrope', Arial, Helvetica, sans-serif;
$font_bold: 'Manrope', Arial, Helvetica, sans-serif;

// Colors:

$black: black;
$white: white;

$border_width_1x: 1px;
$border_width_2x: 2px;

// Transitions:

$trans_sm: .1s linear;
$trans_md: .25s linear;
$trans_lg: .5s linear;
$trans_none: 0s linear;

// Temp:

.root-svg-symbols-element {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
